.inline {
  display: inline-flex;
}

.header-lay {
  background-color: hsl(27, 98%, 47%);
  height: 10vh;
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mid{
    display: flex;
    justify-content: center;
}
.mg-std{
    margin-left: 1vw;
    margin-right: 1vw;
    color:white;
}
.mg-std:hover{
    color: aquamarine;
}

.logo{
    width: 5vw;
    height: 8vh;
}